*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Avenir LT Pro 65', Helvetica;
}

.container{
    
    max-width: 1600px;
    width: 100%;
    margin: auto;
    align-items: center;
}

.search-box{
    display: flex;
    align-items: center;
    border-radius: 12px;
    overflow: hidden;
    width: 400px;
    height: 56px;
    background-color: #F8F8F8;
}

.search-input{
    flex: 1;
    width: 446px;
    padding: 10px;
    background-color: #F8F8F8 ;
    border: none;
    outline: none;
    font-size: 14px;
    color: #111111;
}

.search-btn{
    padding: 10px 15px;
    background: #F8F8F8 ;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.navbar-ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 35px;
}

.header-box{
    display: flex;
    justify-content: space-between;
    align-items: center;

}   

.navbar{
    display:flex;
    gap: 35px;
    align-items: center;

}


.navbar-a-1{
    color: #FF2288;
    text-decoration: none;
    font-size: 14px;
}

.btn-hdr{
    border-radius: 12px;
    overflow: hidden;
    align-items: center;
    background-color: #FF2288;
    width: 130px;
    height: 56px;
    border: none;
    color: #FFFFFF;
}


/* aside */

.sidebar{
    position: absolute;
    position: fixed;
    top: 0;
    width: 320px;
    height: 100vh;
    background-color: #222222;
    color: #FFFFFF;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.h1{
    font-size: 30px;
}

.aside-div{
    padding: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.aside-div-1{
    align-items: center;
    position: absolute;
    top: 110px;
    
}
.navbar-li-brd{
    display: flex;
    justify-content: start;
    gap: 15px;
    align-items: center;
    background-color: #FF2288;
    width: 260px;
    margin: auto;
    height: 60px;
    border-radius: 12px;

}

.navbar-ul-2{
    
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 55px;
}
.navbar-li{
    display: flex;
    gap: 15px;
    align-items: center;
}
.following{
    display: flex;
    align-items: center;
    gap: 20px;
}


.h4{
    position: absolute;
    top: 600px;
}
.following-a{
    text-decoration: none;
    color: #FFFFFF;
    
}

.following-01{
    position: absolute;
    top: 650px;
    display: flex;
    flex-direction: column; 
    gap: 20px;
}


/* section */

.container-1{
    max-width: 1600px;
    padding: 50px 0;
    width: 60%;
    align-items: center;
    margin: auto;
}

.container-1-1{
    max-width: 1600px;
    padding: 50px 0;
    width: 60%;
    margin: auto;
}

.container-1-2{
    max-width: 1800px;
    padding: 50px 0;
    width: 58%;
    margin: auto;
}



.tab-container{
    
    display: flex;
    justify-content: start;
    margin:70px auto;
    gap: 56px;
    overflow: hidden;
}

.tab{
    border: none;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    background: none;
}

.tab:hover{
    background-color:#F2F2F2;
    border-radius: 12px;
    border: none;
    color: #222222;
    font-size: 16px;
}

.filter-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: 8px;
    background-color:white;
    color: #333;
    font-size: 16px;
    border: 1px solid #ccc;
    width: 130px;
    height: 55px;
    position: relative;
    left: 50px;

}

.filter-div{
    position: relative;
    left: 310px;
}

/* article */

.main-card{
    display: flex;
    justify-content: start;
    margin: auto;
    gap: 39px;  
}

.card{
    max-width: 300px;
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0,1);
}

.inline-card-img{
    position: absolute;
    left: 20px;
    top: 80px;
    display: none;
    background-color: #FFFFFF;
    border-radius: 8px;
}

.inline-card-img1{
    position: absolute;
    left: 20px;
    top: 40px;
    display: none;
    background-color: #FFFFFF;
    border-radius: 8px;
}

.card:hover{
    transform: scale(1.05);
}
.card:hover .inline-card-img{
    display: block;
}

.card:hover .inline-card-img1{
    display: block;
}


.card-h3{
    color: #222222;
    font-size: 20px;
}

.load-more{
    position: relative;
    left: -140px;
    margin: 70px auto;
    width: 290px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F2F2F2;
    border-radius: 12px;
    color: #222222;
}

/* section2 */

.container-01{
    background-color: #FAFAFA;
    display: flex;
    justify-content: start;
   
    width: 100%;
    padding: 50px 0;
    width: 100%;
    margin: auto;
    align-items: center;
}

.h2-resp{
    font-size: 30px;
}

.article2-maincard{
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 55px auto;
    gap: 35px;
}

.section-2card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.article-icon{
    width: 130px;
}

.article2-btn{
    color: #222222;
    background-color: #F2F2F2;
    border-radius: 12px;
    width: 130px;
    height: 44px;
    border: none;
}

/* footer */
.footermain-card{
    padding: 70px 0;
    display: flex;
    justify-content: start;
    gap: 180px;
}
.footer-card{
    display: flex;
    flex-direction: column;
    gap: 35px;
  
}
.footer-a{
    text-decoration: none;
    color: #222222;
}
.footer-list{
    display: flex;
    flex-direction: column;
    gap: 25px;
    color: #222222;
    font-size: 18px;
}

.footer-end{
    max-width: 1300px;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
}

.footer-img{
    display: flex;
    gap: 20px;
}

/* responive */

/* tablet */

@media (max-width: 1024px){
    .sidebar{
        text-align: left;
        padding: unset;
        display: flex;
        flex-wrap: wrap;
        width: 120px;
        height: 500px;
        justify-content: unset;
        position: unset;
        
    }

    .navbar-ul-2{
        display: none;
    }
    .navbar-li-brd{
        background-color: unset;
    }

    .navbar-li{
        display: none;
    }

    .h4{
        display: none;
    }

    .h1{
        padding: 20px;
        font-size: unset;
    }

    .aside-div{
        padding: unset;
        align-items: left;
        
    }
    .aside-divlogo{
        display: none;
    }

    .container{
        max-width: 1024px;
        width: 100%;
    }

   

    .search-box{
        width: 300px;
        margin: auto;
    }
    .navbar-li-unset{
        display: none;
    }

    .rsp-unst{
        display: none;
    }

    .btn-hdr{
        display: none;
    }
    .header-box{
        display: flex;
        justify-content: unset;
    }

    .following-01{
        position: unset;
        padding: 20px;
    }

    .container-1{
        max-width: 1024px;
        width: 100%;
        position: absolute;
        top: 10px;
        margin: auto;
    }

    .container-1-1{
        max-width: 1024px;
        width: 100%;
        position: absolute;
        top: 1000px;
        margin: auto;
    }

    .container-1-2{
        max-width: 1024px;
        width: 100%;
        position: absolute;
        top: 1300px;
        margin: 50px auto;
    }

    .tab:nth-child(2n){
        display: none;
    }
    .filter-div{
        display: none;
    }

    .tab-container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        
    }
    .card:nth-child(2n){
        display: none;
    }

    .main-card{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
       
        
    }

    /* section2 */

    .container-01{
        max-width: 1024px;
        width: 100%;
        margin: auto;

    }

    .section-2card:nth-child(2n){
        display: none;
    }

    .article2-maincard{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }
    .h2-resp{
        display: none;
    }

    .load-more{
        position: unset;
    }

    .container{
        position: unset;
    }


    /* footer */

    .footer-card:nth-child(2n){
        display: none;
    }

    .footermain-card{
        display: flex;
        justify-content: space-evenly;
        gap: 20px;
    }

    .footer-end{
        display: flex;
        justify-content: space-evenly;
        gap: 20px;
    }

}

@media (max-width:768px){
    .sidebar{
        display: none;
    }
}







